html {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  background-color: var(--grey);
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

button {
  padding: 0;
  cursor: pointer;
  transition: all 0.8s;
}

.container {
  max-width: 1280px;
  margin: 54px auto;
}
.page-container {
  padding: 0 60px;
}

:root {
  --apricot: rgba(246, 82, 97, 1);
  --grey: rgba(85, 85, 85);
  --dark-grey: rgba(66, 66, 66, 1);
  --black: rgba(35, 35, 35, 1);
  --white: rgba(228, 228, 228, 1);
}
